@import url("./aos.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.timeline{
  padding: 50px 0; }

html, body {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400; }





  .timeline {
    position: relative; 
   overflow: hidden;
  }

  .timeline h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
  
  }
    .timeline::before {
      content: '';
      background: #fff;
      width: 7px;
      border:2px solid #191919;
      height: 95%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  
  .timeline-item {
    width: 100%;
    margin-bottom: 40px; }
    
    
    .timeline-item:nth-child(odd) .timeline-content {
                padding: 0px 30px 10px 30px; }
    .timeline-item:nth-child(even) .timeline-content {
      float: right;
      padding: 0px 30px 10px 90px; }
      .timeline-item:nth-child(even) .timeline-content .date {
        right: auto;
        left: 0; }
      .timeline-item:nth-child(even) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: -3px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #191919 transparent transparent; }
        
    .timeline-item::after {
      content: '';
      display: block;
      clear: both; 
    }
  
  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #fff;
    border: 3px solid #191919;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3); 
    transform: scale(0.95);
    }

    .timeline-content:hover{
     transform: scale(1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); 

    }

  


    .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: -3px;
      right: -15px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #191919; 
    }
  
  .timeline-circle {
    width: 15px;
    height: 15px;
    background: #191919;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 0px;
    margin-left: -7.5px; }
  

  .date {
    background: #191919;
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
border: 3px solid #191919;  
  }

  .timeline-item:nth-child(odd){
    animation-name: bounceInLeft;
  }
  .timeline-item:nth-child(even){
    animation-name: bounceInRight;
  }

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px; }
  .timeline .timeline-circle {
    left: 50px; }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px; }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none; }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: -3px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #191919 transparent transparent; } 
  
   
      .timeline-item:nth-child(odd) .timeline-content .date {
        right: auto;
        left: -1px;
      top:-1px }
 
      .timeline-item:nth-child(even) .timeline-content .date {
        right: auto;
        left: -1px;
      top:-1px }
 
  .timeline-item:nth-child(odd) .timeline-content {
        
    padding: 0px 30px 10px 90px; }

 


  }


  
